---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import WhatWeDo from '../components/WhatWeDo.astro'
import Industries from '../components/Industries.astro'
import About from '../components/About.astro'
import WhyBiztech from '../components/WhyBiztech.astro'
import Process from '../components/Process.astro'
import EngagementModels from '../components/EngagementModels.astro'
import Testimonials from '../components/Testimonials.astro'
import SuccessStories from '../components/SuccessStories.astro'
import CaseStudy from '../components/CaseStudy.astro'
import Blog from '../components/Blog.astro'
import TechStack from '../components/TechStack.astro'
import Faq from '../components/Faq.astro'
import Contact from '../components/Contact.astro'
import GlobalOffices from '../components/GlobalOffices.astro'
import Footer from '../components/Footer.astro'
---
<Layout>
  <Header />
  <div class="page-shell">
    <Hero />
    <WhatWeDo />
    <Industries />
    <About />
    <WhyBiztech />
    <Process />
    <EngagementModels />
    <Testimonials />
    <SuccessStories />
    <CaseStudy />
    <Blog />
    <TechStack />
    <Faq />
    <Contact />
    <GlobalOffices />
  </div>
  <Footer />
</Layout>
